<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Notes App{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'note_list' %}">View Notes</a></li>
            <li><a href="{% url 'upload_note' %}">Upload Note</a></li>
            
            <!-- User authentication links -->
            {% if user.is_authenticated %}
                <li>  <a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
    
    <div class="content">
        Welcome, {{ user.username }}
        {% block content %}{% endblock %}
    </div>
</body>
</html>
